.job{
    /* background-color: #a3cef1; */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* box-shadow: 3px 5px 5px rgba(0,0,0,0.5); */
    border: 1px solid #d0d0d0;
}

.job:hover{
    cursor: pointer;
    border: 1px solid #333;
}

.job-title{
    font-size: 18px;
    font-weight: bold;
}

.job-location{
    font-size: 15px;
}

.job-posted{
    font-size: 11px;
    color: #333;
    text-align: right;
}

.tags, .type{
    list-style-type: none;
    display: flex;
}

.tags, .type{
    padding: 0;
}

.tags li, .type li{
    font-size: 13px;
    padding:5px 8px;
    margin-right: 5px;
    border-radius: 20px;
    min-width: 50px;
    text-align: center;
}
.tags li{
    background-color: #f4edea;
}

.type li{
    background-color: #efd7cd;
}